@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body  {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

body {
    background-image: url('../imagens/Fundo-em-paisagem.jpeg');
    background-size: cover;
    background-position: center center;
}

main {
    height: 100vh;
    position: relative;
}

section#tela {
    position: absolute;
    display: block;
    background-image: url('../imagens/tela.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 500px;
    height: 425px;

    top: 50%;
    left: 57%;
    transform: translate(-50%, -50%);
}

iframe#iframe {
    width: 500px;
    height: 425px;
}

div.primeiro img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

div.segundo img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}